body{
    font-size: 20px;
}
fieldset{
    width: 500px;
    border-radius: 20px;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(247, 239, 239);
}
